/* Theme Name: Sig
Author: SaQus.com	
URl: http://www,saqus.com/
*/


@import url(reset.css);
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	font-size: 14px;
}
a {
	text-decoration: none
}
p {
	font-size: 15px;
	color: #555555;
	padding-bottom: 10px
}
ul {
	list-style: none
}
.clear {
	clear: both
}
.rht {
	float: right
}
.lft {
	float: left
}
.wrapper {
	width: 999px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}
h2 {
	font-size: 25px;
	color: #001d57;
	font-weight: normal;
	text-transform: capitalize;
	padding-bottom: 10px;
}
h3 {
	font-size: 14px;
	border: 1px solid #ffe195;
	padding: 15px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #c08901;
	font-weight: normal;
	background: #ffe9b0;
	font-weight: bold;
	margin-bottom: 25px;
}
h4 {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #3e3e3e;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.nav-menu {
	text-transform: uppercase;/*border: 1px solid #000;*/
}
.nav-menu ul li a {
	color: #FFF;
	padding: 26px 8px;
	transition: all 0.5s ease;
	background: url(../images/menuhover.jpg) repeat-x left top;
}
.nav-menu ul li {
	float: left;
	padding: 25px 0px;
	border: 1px solid #d5d9e2;
}
.nav-menu ul li a:hover {
	background: url(../images/active.jpg) repeat-x left top;
	color: #FFF;
}
.active {
	background: url(../images/active.jpg) repeat-x left top !important;
	color: #FFF;
}
.searchbg {
	background: url(../images/active.jpg) repeat-x left top;
	border: 1px solid #ececec;
	padding: 3px 5px 5px 5px;
	margin-top: 20px;/*position:relative;*/
}
.search input[type=text] {
	border: none;
	color: #000000 !important;
	padding: 5px 0px 5px 30px;
	border: 1px solid #e8c15c;
	top: 0px;
	font-size: 15px !important;
	width: 104px;
	height: 14px;
	font-family: 'Open Sans', sans-serif;
	background: url(../images/search.png) no-repeat 8px center #FFF;
}
.search input[type=submit] {
	font-size: 13px;
	color: #FFF;
	cursor: pointer;
	border: none;
	background: none !important;
	text-transform: uppercase;
	font-weight: bold;
}
.search input[type=submit]:hover {
	opacity: 0.7;
	transition: all 0.5s ease;
}
.content {
	padding: 50px 0px;
	min-height: 550px;
	overflow: hidden;
}
.wd {
	padding: 0px 50px;
}
.wd table tr td:first-child {

	vertical-align: middle;
}
.wd strong {
	color: #b88500;
	text-decoration: underline;
	font-weight: 600;
}
.wd table tr td {
	/*text-align:center !important;*/
	padding: 10px 10px !important;
}
.index-page {
	padding: 50px;
}
.footerbg {
	background: #00329a;
	border-top: 5px solid #efac02;
	padding: 20px 0px;
	color: #FFF;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
}
.footer a:hover {
	opacity: 0.7;
}
.footer a {
	color: #FFF;
	padding: 0px 10px;
}
.category {
	text-align: left;
	border: 1px solid #dbddea;
	color: #424dab;
	font-size: 12px;
	text-transform: uppercase;
	padding: 15px 13px;
	width: 165px;
}
.category ul li {
	line-height: 33px;
}
.report table {
	text-align: center;
}
.report {
	width: 905px;
}
.reportcategory {
	width: 705px;
}
.report table th {
	background: #edeffb;
	color: #0137a8;
	text-align: center;
	border: 1px solid #dbddea;
	font-size: 12px;
	min-width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	padding: 10px 4px;
}
.report table td {
	border: 1px solid #dbddea;
	text-align: left;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #676767;
}
.rate table td {
	padding: 10px 10px;
	width: 300px !important;
}
.rate table td+td+td {
	text-align: center;
}
.rate table td+td+td+td {
	text-align: center;
}
.advancesearch table tr:nth-child(odd) {
	background: #edeffb;
}
.advancesearch table td+td {
	text-align: left;
}
.advancesearch table td {
	border: 1px solid #dbddea;
	padding: 10px;
	text-transform: uppercase;
	color: #171b41;
}
.advancesearch table td input[type=text] {
	border: none;
	color: #000000 !important;
	padding: 6px;
	background: url(../images/inputtype.jpg) repeat-x left top;
	border: 1px solid #e5e5e5;
	top: 0px;
	font-size: 15px !important;
	width: 150px;
	font-family: 'Open Sans', sans-serif;
}
.buttons {
	overflow: hidden;
	width: 250px;
	text-align: center;
	margin: 0 auto;
}
.buttonsrht {
	overflow: hidden;
	width: 250px;
	text-align: right;
	margin: 0 auto;

}
.buttonslft {
	overflow: hidden;
	width: 250px;
	text-align: left;
	margin: 0 auto;

}
.searchpading {
	padding: 50px 80px;
}
.buttons a {
	float: left;
	margin: 50px 3px;
}
.searchbutton {
	background: url(../images/active.jpg) repeat-x left top;
	color: #FFF;
	padding: 5px 10px;
	border-radius: 5px;
	width: 80px;
	text-align: center;
	text-transform: uppercase;
}
.searchbutton:hover {
	background: url(../images/menuhover.jpg) repeat-x scroll left top rgba(0, 0, 0, 0);
}
.reset {
	background: url(../images/menuhover.jpg) repeat-x scroll left top rgba(0, 0, 0, 0);
	color: #FFF;
	padding:6px 10px;
	border-radius: 5px;
	width: 80px;
	cursor:pointer;
	border:none;
	text-align: center;
	text-transform: uppercase;
	margin:50px 3px;
}
.reset:hover {
	background: url(../images/active.jpg) repeat-x left top;
}

/*.advancesearch  input[type=reset]
{
	cursor:pointer;
	border:none !important;
	}*/

.container1 {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle }

.container2 {
    min-height: 10em;
    display: table-cell;
    horizontal-align: center }
