/* The tooltip link and contents */
.tooltip {
    display: inline;
    position: relative;
    text-decoration: none;
}
.tooltip img{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
}
/* The Hover Tooltip Text */
.tooltip:hover:after {
    background: none repeat scroll 0 0 rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    bottom: 26px;
    color: rgb(255, 255, 255);
    content: attr(tooltip);
    right: -200px;;
    padding: 5px 15px;
    position: absolute;
    width: 220px;
    z-index: 98;
    text-decoration: none;
}
/* The Hover Tooltip Arrow */
.tooltip:hover:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgb(0, 0, 0) transparent;
    border-image: none;
    border-style: solid;
    border-width: 6px 6px 0;
    bottom: 20px;
    content: "";
    left: 30px;
    position: absolute;
    z-index: 99;
}
div.box{
    height: 190px;
}